body {
    background-color: #FFFFFF;

    text-align: center;
    color: #000000;
    font-family: Computer Modern, CMU Serif Extra;
}

.content {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
    margin-top: 50px;
}

.content a {
    text-decoration: underline;
    color: #000000;
}

.content a:hover {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .content {
        grid-template-columns: 22.5% 55% 22.5%;
    }
}

@media (max-width: 480px) {
    .content {
        grid-template-columns: 10% 80% 10%;
    }
}